In [26]:
import pandas as pd

In [27]:
# Import the file "W03_eCommerce.csv" as pandas Dataframe. Call it df
df = pd.read_csv('W03_eCommerce.csv')

In [62]:
df

            Date       SKU  click  add_cart  add_favorites  sales
0       20190728  VF256715      7         0              0      0
1       20190728  VF224834     28         0              0      0
2       20190728  PJ955955     22         1              0      0
3       20190728  SN639704     17         0              0      0
4       20190728  VF237717      2         0              0      0
...          ...       ...    ...       ...            ...    ...
275260  20190625  TR331635    410        13             15      2
275261  20190625  VF257864    321         2              1      0
275262  20190625  SN664835    958        45             28      8
275263  20190625  NH451998    872        16             22      1
275264  20190625  TR331518    543        43             12      8

[275265 rows x 6 columns]

In [28]:
df.sort_values('Date').head(20)

            Date       SKU  click  add_cart  add_favorites  sales
41181   20190623  TR347572     35         1              1      0
201371  20190623  KW537575    453        19              8     13
201370  20190623  PJ953050     11         0              0      0
201369  20190623  VF269142    115         2              1      1
201368  20190623  TR355051     13         2              1      0
201367  20190623  TR315446     18         0              1      1
201366  20190623  KW508236     21         0              0      0
201365  20190623  NH427474     12         1              0      0
201364  20190623  TR336082     48         0              0      0
201363  20190623  ZG886392     71         0              1      0
201362  20190623  NH451485      1         0              0      0
201361  20190623  TR358107     30         0              2      0
201360  20190623  NH446485    210         7              1      2
201359  20190623  KW520475    695        26             13      4
201358  20190623  VF262291      6         0              2      0
201357  20190623  VF255367      6         0              0      0
201356  20190623  VF232122    133         5              1      2
201355  20190623  TR358050    526         4              5      0
201354  20190623  SN661086     87         4              0      0
201353  20190623  KW502300      1         0              0      0

In [29]:
# How many rows does the dataset have? Store this number as r1
r1 = len(df)
r1

275265

In [30]:
# How often does SKU "NH430971" appear in the data? Store this as r2
# Other option
#r2 = len(df[df['SKU'] == 'NH430971'])

r2 = df[df['SKU'] == 'NH430971'].count()['SKU']

In [31]:
r2

28

In [32]:
# What is the highest sales number for one SKU on a single day in the data set? Store this as r3
r3 = df.groupby(['Date', 'SKU'], sort=True)['sales'].max().max()
#r3.sort_values(ascending=False) 
r3

319

In [33]:
# What is the total number of sales on July 25th, 2019? Store this as r4
r4 = df[df['Date'] == 20190725]['sales'].sum()
r4

5749

In [34]:
# How many clicks did SKU "KW529031" have in total in the given period. Store this as r5
r5 = df[df['SKU'] == 'KW529031']['click'].sum()
r5

2106

In [35]:
# Calculate the total number of addings to cart for "KW529031" in the given period.
# Divide this number by r5. We call this click-to-cart-conversion. Store this as r6 (number between 0 and 1)
total_addding = df[df['SKU'] == 'KW529031']['add_cart'].sum()
r6 = total_addding/r5
r6

0.08262108262108261

In [43]:
# Store the cart-to-sales-conversion (i.e. sales/add_cart) for SKU "VF226119" as r7
r7_auxiliar = df.loc[df['SKU'] == 'VF226119']['sales'].sum()
total_addding = df.loc[df['SKU'] == 'VF226119']['add_cart'].sum()
r7 = total_addding/r7_auxiliar
r7

4.044817927170868

In [37]:
# Which item had the highest sales number on June 25th, 2019? Store the ID of the SKU as r8 (not the sales value)
id_for_max_sales = df[df['Date'] == 20190625]['sales'].values.argmax()
r8 = df['SKU'][id_for_max_sales]
r8

'TR313041'

In [38]:
# Create a new column for click-to-sales-conversion (i.e. sales / click )
# Only look at rows with at least 100 clicks.
df_over_100_clicks = df[df['click'] > 100]
df_over_100_clicks

skus_sales = df_over_100_clicks[['SKU', 'sales','click']]

In [52]:
total_sales_per_SKU = {}

for sku in df_over_100_clicks['SKU'].unique():
    total_sales_per_SKU[sku] = skus_sales.loc[skus_sales['SKU'] == sku]['sales'].sum()

total_clicks_per_SKU = {}
for sku in df_over_100_clicks['SKU'].unique():
    total_clicks_per_SKU[sku] = skus_sales.loc[skus_sales['SKU'] == sku]['click'].sum()

total_sales_per_SKU

{'ZG885592': 23,
 'VF246114': 11,
 'TR325042': 8,
 'SN636069': 19,
 'VF244201': 105,
 'TR352515': 94,
 'VF240465': 227,
 'NU718449': 92,
 'TR358721': 2,
 'NH463453': 55,
 'ZG872164': 14,
 'PJ957096': 132,
 'QA111998': 121,
 'SN674623': 8,
 'NU705084': 48,
 'TR355414': 25,
 'KW509617': 504,
 'QA154803': 335,
 'QA144601': 41,
 'KW500578': 0,
 'KW542262': 19,
 'ZG879704': 48,
 'PJ920102': 229,
 'PJ935750': 19,
 'KW539285': 23,
 'SN642516': 123,
 'ZG884816': 102,
 'ZG863507': 1356,
 'SN648029': 2,
 'QA153517': 38,
 'PJ964900': 46,
 'KW540897': 6,
 'PJ933514': 83,
 'NU720095': 131,
 'QA116796': 981,
 'ZG856174': 15,
 'ZG871604': 28,
 'SN636429': 7,
 'KW513724': 8,
 'NH466554': 1468,
 'TR344541': 1444,
 'ZG856973': 4,
 'VF266091': 188,
 'ZG871580': 86,
 'TR336184': 235,
 'QA136250': 100,
 'NH452127': 4,
 'NH458360': 67,
 'VF235163': 267,
 'NH426846': 17,
 'TR348670': 9,
 'NH452560': 60,
 'QA114064': 32,
 'QA124499': 1060,
 'KW522346': 24,
 'TR317983': 1154,
 'TR334437': 6,
 'QA149127': 85,
 'SN643331': 640,
 'QA117067': 4,
 'NU708122': 7,
 'VF237672': 54,
 'ZG855755': 21,
 'ZG873993': 2,
 'SN650747': 966,
 'KW540728': 364,
 'ZG873447': 0,
 'VF228835': 89,
 'NH458724': 6,
 'KW511188': 245,
 'KW524610': 80,
 'NH447346': 37,
 'KW546910': 47,
 'NH448592': 11,
 'NU721546': 400,
 'TR333038': 2,
 'QA154348': 1,
 'PJ936386': 0,
 'SN652175': 1,
 'NU712590': 0,
 'TR325125': 5,
 'ZG876279': 321,
 'QA120206': 113,
 'KW540837': 3,
 'TR342979': 15,
 'ZG866979': 244,
 'QA138872': 53,
 'VF258409': 117,
 'VF246302': 0,
 'SN660141': 113,
 'TR310498': 7,
 'NU717355': 97,
 'ZG854287': 7,
 'ZG880785': 188,
 'KW528121': 0,
 'QA136639': 40,
 'TR343929': 66,
 'VF250644': 4,
 'NH433377': 2,
 'SN652961': 991,
 'SN641723': 1,
 'NH460382': 3,
 'SN675975': 498,
 'PJ937027': 785,
 'QA131835': 51,
 'KW516435': 0,
 'NH424232': 90,
 'TR331385': 7,
 'KW532334': 43,
 'QA144871': 6,
 'NH424195': 3,
 'QA152651': 129,
 'TR322433': 168,
 'NU711698': 212,
 'VF221985': 1,
 'NU714486': 4,
 'SN632554': 26,
 'KW548273': 5,
 'QA119743': 221,
 'VF265462': 1,
 'NH422304': 146,
 'QA155529': 169,
 'VF229244': 16,
 'SN651066': 666,
 'VF222628': 105,
 'TR326397': 1075,
 'PJ962235': 220,
 'PJ950503': 212,
 'PJ945009': 24,
 'NH427918': 20,
 'QA118001': 9,
 'TR327773': 120,
 'SN666316': 6,
 'QA149473': 342,
 'SN641118': 16,
 'TR319680': 83,
 'KW544341': 7,
 'SN669489': 453,
 'QA122027': 281,
 'ZG854339': 9,
 'NU712571': 118,
 'ZG862791': 18,
 'NH423177': 227,
 'PJ929213': 255,
 'TR316418': 35,
 'NH440020': 124,
 'QA145554': 165,
 'PJ955583': 1388,
 'NH436266': 246,
 'NU702450': 2,
 'ZG863405': 37,
 'NH431191': 142,
 'PJ924184': 814,
 'VF230573': 2,
 'ZG874305': 482,
 'VF268386': 11,
 'NU721065': 316,
 'PJ960624': 58,
 'VF248233': 9,
 'TR314697': 366,
 'NH437449': 16,
 'KW502029': 0,
 'NH435588': 145,
 'VF251825': 215,
 'VF221654': 29,
 'NH422471': 8,
 'NH445648': 24,
 'NU708025': 1460,
 'VF239443': 77,
 'NU720237': 12,
 'SN645151': 246,
 'TR343504': 49,
 'VF248891': 139,
 'KW528759': 4,
 'QA143191': 2,
 'QA139178': 1,
 'TR352530': 15,
 'NH452985': 15,
 'NU722602': 0,
 'NH455269': 28,
 'PJ933561': 16,
 'KW545244': 10,
 'PJ921012': 0,
 'PJ938921': 90,
 'QA123064': 114,
 'SN678680': 7,
 'KW541170': 32,
 'ZG855382': 21,
 'PJ929672': 0,
 'QA152024': 10,
 'KW527161': 7,
 'ZG852528': 104,
 'TR347572': 27,
 'ZG842001': 127,
 'TR327087': 3,
 'NH445197': 85,
 'QA122092': 11,
 'KW503947': 5,
 'TR356450': 292,
 'KW523951': 102,
 'NU720690': 253,
 'NH428178': 1810,
 'VF250567': 199,
 'PJ947107': 265,
 'PJ930377': 146,
 'ZG870103': 23,
 'PJ938758': 19,
 'KW507868': 900,
 'NH440007': 4,
 'QA119672': 6,
 'SN637096': 42,
 'VF252476': 8,
 'KW508353': 2,
 'SN661942': 93,
 'VF239291': 556,
 'TR322733': 201,
 'SN662483': 70,
 'VF268946': 243,
 'KW526804': 100,
 'NH423646': 17,
 'NU721385': 35,
 'NH426471': 47,
 'PJ931770': 2,
 'KW531224': 2,
 'KW522355': 557,
 'NH454920': 261,
 'KW526791': 9,
 'SN649857': 18,
 'NU711116': 12,
 'NU700488': 47,
 'VF248230': 111,
 'VF225278': 2,
 'NH436231': 5,
 'VF228044': 183,
 'SN666902': 61,
 'VF230043': 21,
 'TR338751': 2,
 'VF227932': 1,
 'SN660133': 0,
 'VF267089': 22,
 'KW549180': 84,
 'SN664290': 351,
 'TR328946': 151,
 'PJ926922': 3,
 'KW515699': 16,
 'PJ953608': 114,
 'SN653512': 4,
 'KW528060': 1,
 'PJ954926': 323,
 'VF260051': 642,
 'KW510424': 125,
 'ZG870600': 9,
 'TR342022': 90,
 'KW500592': 99,
 'ZG861984': 513,
 'VF262509': 112,
 'SN637039': 16,
 'QA143878': 202,
 'PJ964737': 1,
 'PJ954370': 48,
 'NH456101': 16,
 'KW520281': 37,
 'QA113783': 106,
 'ZG879753': 39,
 'PJ959907': 143,
 'NH425601': 60,
 'NH450821': 195,
 'NH452199': 21,
 'NH434290': 72,
 'NH438942': 6,
 'VF254498': 20,
 'QA125457': 22,
 'KW518546': 87,
 'NH431662': 1189,
 'ZG853256': 130,
 'NH427551': 133,
 'ZG857239': 42,
 'TR322661': 11,
 'KW504925': 434,
 'PJ921171': 28,
 'KW528352': 205,
 'TR351623': 14,
 'PJ946396': 190,
 'KW527439': 0,
 'NH443950': 22,
 'VF228582': 921,
 'QA135645': 109,
 'SN676106': 141,
 'SN651329': 9,
 'ZG852980': 23,
 'ZG841214': 22,
 'TR347155': 1,
 'KW508347': 3,
 'KW504347': 200,
 'NU704807': 127,
 'VF253392': 0,
 'TR311790': 57,
 'TR317253': 37,
 'VF257306': 197,
 'ZG859522': 188,
 'NU716254': 2,
 'ZG873724': 53,
 'KW529499': 76,
 'QA157089': 71,
 'QA117320': 645,
 'NH468727': 13,
 'QA112765': 58,
 'KW516792': 94,
 'QA139141': 15,
 'VF251198': 144,
 'SN672982': 8,
 'NH444552': 43,
 'SN639811': 619,
 'TR351536': 18,
 'QA134247': 0,
 'NH424280': 26,
 'ZG868799': 103,
 'QA156191': 21,
 'TR339113': 73,
 'NH457062': 210,
 'TR313719': 66,
 'VF264127': 51,
 'VF255770': 0,
 'TR356847': 89,
 'VF264014': 92,
 'QA154101': 66,
 'QA148449': 214,
 'TR325229': 313,
 'PJ929941': 57,
 'QA127387': 86,
 'PJ951938': 0,
 'NH422419': 159,
 'PJ961748': 621,
 'VF264711': 753,
 'VF229183': 88,
 'ZG847195': 7,
 'VF254425': 0,
 'ZG876574': 599,
 'TR324591': 32,
 'QA116253': 0,
 'QA147576': 139,
 'NH436031': 565,
 'NH446301': 2,
 'SN632666': 10,
 'TR310520': 0,
 'SN656080': 57,
 'TR310937': 3,
 'QA150029': 127,
 'QA155103': 38,
 'KW540235': 22,
 'NU706851': 31,
 'PJ960832': 58,
 'KW541392': 176,
 'ZG872866': 146,
 'QA155756': 228,
 'NU715440': 31,
 'QA155652': 107,
 'QA133995': 68,
 'PJ962385': 1416,
 'ZG850775': 281,
 'KW511784': 64,
 'PJ944000': 20,
 'NH445409': 67,
 'ZG866199': 162,
 'VF256362': 29,
 'VF250384': 98,
 'PJ927624': 286,
 'NU717562': 214,
 'PJ963629': 1011,
 'SN652478': 15,
 'TR351516': 294,
 'VF221679': 94,
 'QA115401': 231,
 'KW543622': 61,
 'QA124732': 40,
 'QA132044': 86,
 'KW515514': 137,
 'SN667544': 56,
 'KW520531': 19,
 'PJ934808': 133,
 'QA133559': 161,
 'PJ943716': 49,
 'VF237415': 2,
 'QA152279': 78,
 'PJ928625': 52,
 'SN678868': 58,
 'ZG855048': 626,
 'KW528310': 14,
 'SN673560': 49,
 'VF224318': 168,
 'TR326263': 19,
 'QA153701': 200,
 'VF257740': 6,
 'SN633413': 7,
 'QA133857': 132,
 'QA119201': 296,
 'TR318693': 35,
 'VF231682': 101,
 'ZG850107': 8,
 'PJ935211': 3,
 'QA111093': 31,
 'KW519109': 3,
 'NH421286': 0,
 'ZG867179': 718,
 'QA152837': 47,
 'QA113849': 7,
 'VF221932': 27,
 'SN668382': 5,
 'VF259652': 24,
 'KW505984': 112,
 'ZG888141': 588,
 'NH453325': 15,
 'NH442660': 10,
 'QA126088': 435,
 'NH461267': 0,
 'NU719611': 55,
 'SN659289': 29,
 'TR356646': 269,
 'TR343490': 132,
 'QA142888': 2,
 'QA151414': 0,
 'PJ941978': 291,
 'SN673336': 0,
 'NU722323': 20,
 'NH448093': 3,
 'KW509035': 4,
 'ZG864778': 31,
 'VF242693': 26,
 'NH468201': 15,
 'QA121133': 538,
 'TR343591': 336,
 'QA158228': 20,
 'PJ956446': 56,
 'SN674193': 31,
 'ZG889615': 108,
 'TR343278': 513,
 'TR339793': 5,
 'PJ922795': 8,
 'TR324145': 1669,
 'QA126808': 3,
 'QA150067': 1092,
 'NU711830': 13,
 'VF255038': 26,
 'NH467036': 7,
 'KW529725': 23,
 'VF249331': 1,
 'TR354662': 36,
 'PJ924230': 492,
 'SN648648': 3,
 'NU704605': 202,
 'QA155581': 179,
 'SN642982': 66,
 'QA149675': 4,
 'PJ927566': 28,
 'VF237532': 177,
 'VF232196': 18,
 'VF221558': 281,
 'PJ949977': 8,
 'VF237514': 169,
 'ZG859396': 332,
 'PJ962295': 135,
 'ZG864250': 100,
 'KW518622': 47,
 'SN635994': 15,
 'NU701052': 8,
 'SN673814': 34,
 'TR347178': 2,
 'TR354793': 196,
 'PJ935261': 43,
 'KW549496': 95,
 'VF249808': 15,
 'NH459782': 46,
 'SN644208': 213,
 'NH446214': 9,
 'QA144203': 43,
 'ZG877127': 17,
 'NH469964': 342,
 'ZG841879': 2,
 'PJ931038': 17,
 'TR340639': 1,
 'ZG877107': 0,
 'TR316433': 0,
 'KW536797': 47,
 'PJ922860': 0,
 'NH468418': 1,
 'PJ954522': 0,
 'KW537541': 0,
 'TR358992': 3,
 'VF250122': 24,
 'PJ944527': 4,
 'ZG842231': 71,
 'KW540823': 23,
 'PJ924763': 26,
 'VF231461': 242,
 'VF263999': 16,
 'KW536276': 25,
 'ZG886697': 122,
 'VF248955': 30,
 'PJ933245': 4,
 'PJ927254': 25,
 'NU709760': 8,
 'PJ939066': 263,
 'ZG850307': 458,
 'QA116346': 29,
 'SN671626': 312,
 'SN631976': 442,
 'NH427033': 57,
 'ZG875852': 41,
 'NU707517': 1225,
 'TR341463': 111,
 'KW533002': 158,
 'PJ947941': 52,
 'QA153295': 82,
 'NH452744': 36,
 'KW502459': 92,
 'TR342599': 81,
 'SN662023': 118,
 'QA124956': 195,
 'NH430971': 44,
 'VF245485': 140,
 'VF253788': 567,
 'ZG854345': 41,
 'QA149123': 119,
 'TR327862': 549,
 'QA146249': 10,
 'NH437183': 162,
 'PJ928575': 68,
 'NH431239': 15,
 'QA137448': 8,
 'VF233203': 55,
 'TR358028': 43,
 'QA124696': 823,
 'ZG868911': 2,
 'TR349945': 43,
 'NH456636': 68,
 'KW532530': 75,
 'TR330730': 0,
 'TR326028': 70,
 'PJ921146': 5,
 'PJ966574': 73,
 'ZG887031': 15,
 'TR313295': 49,
 'PJ946985': 2,
 'ZG841230': 42,
 'VF238053': 23,
 'KW539087': 16,
 'NH440222': 26,
 'SN650773': 727,
 'VF267475': 789,
 'ZG841256': 4,
 'KW508526': 47,
 'PJ957303': 74,
 'ZG877462': 35,
 'ZG867198': 70,
 'KW529933': 41,
 'QA114575': 568,
 'PJ960374': 72,
 'SN663260': 785,
 'KW527832': 121,
 'ZG873097': 274,
 'TR322712': 97,
 'PJ922534': 3,
 'KW541832': 25,
 'VF233402': 83,
 'KW534946': 2,
 'TR350464': 1,
 'NH447691': 85,
 'ZG884013': 2,
 'SN670196': 3,
 'QA119790': 0,
 'TR359936': 2,
 'QA149097': 156,
 'KW546779': 96,
 'TR359668': 120,
 'TR323003': 4,
 'TR328157': 8,
 'PJ928375': 245,
 'SN631028': 336,
 'PJ966934': 49,
 'KW521286': 277,
 'ZG857496': 140,
 'QA117374': 4,
 'NU703959': 12,
 'QA110810': 1,
 'NU701142': 335,
 'VF256237': 32,
 'NU705739': 312,
 'SN642623': 3,
 'KW515200': 5,
 'NH448254': 518,
 'NU722274': 965,
 'KW537024': 61,
 'TR315239': 222,
 'QA114654': 156,
 'PJ960344': 64,
 'NU720262': 115,
 'VF221265': 102,
 'QA115131': 11,
 'TR347943': 61,
 'KW507747': 8,
 'QA118033': 3,
 'VF269545': 165,
 'PJ933280': 43,
 'NU703096': 51,
 'NH452749': 54,
 'VF267576': 29,
 'QA128485': 15,
 'ZG860290': 546,
 'TR346843': 48,
 'PJ941920': 97,
 'KW522873': 7,
 'SN633490': 14,
 'PJ964010': 7,
 'ZG877596': 187,
 'PJ929338': 2,
 'TR339863': 6,
 'TR340780': 89,
 'NH444735': 63,
 'NU722744': 11,
 'NH422012': 0,
 'NH468716': 1,
 'TR331068': 29,
 'PJ957685': 0,
 'NH455572': 8,
 'KW532371': 23,
 'NH448456': 24,
 'PJ956896': 2,
 'VF263995': 3,
 'KW502310': 160,
 'NU718981': 107,
 'TR316017': 118,
 'NH447879': 88,
 'SN641898': 106,
 'PJ951754': 34,
 'PJ952951': 82,
 'TR352596': 245,
 'NH429353': 3,
 'ZG877150': 1822,
 'PJ933453': 5,
 'TR354452': 51,
 'NH455144': 158,
 'QA136196': 0,
 'TR352982': 317,
 'PJ953498': 94,
 'TR315051': 14,
 'QA142921': 226,
 'NH468453': 25,
 'QA139994': 38,
 'SN638993': 4,
 'TR356803': 1644,
 'ZG844083': 13,
 'VF226468': 3,
 'QA122884': 81,
 'VF234069': 59,
 'QA151220': 145,
 'KW533910': 0,
 'PJ967116': 0,
 'QA115982': 2,
 'NH453718': 1096,
 'PJ947415': 0,
 'ZG862991': 150,
 'VF223266': 7,
 'SN637955': 2,
 'TR317496': 35,
 'NU703478': 15,
 'KW503665': 1,
 'PJ930048': 75,
 'TR314799': 42,
 'KW509876': 8,
 'ZG844775': 113,
 'KW539071': 259,
 'ZG849036': 10,
 'SN649557': 3,
 'PJ924047': 58,
 'ZG847899': 436,
 'QA116333': 20,
 'NU702327': 14,
 'KW521228': 9,
 'NH433182': 32,
 'TR315745': 0,
 'VF259399': 45,
 'TR328387': 0,
 'TR311738': 2,
 'PJ928893': 3,
 'VF228717': 54,
 'TR331994': 0,
 'VF268534': 2,
 'ZG883893': 10,
 'ZG860705': 3,
 'QA111815': 0,
 'TR352975': 0,
 'KW541411': 0,
 'NH436272': 3,
 'PJ938231': 22,
 'NH426463': 8,
 'SN669077': 190,
 'NU721451': 174,
 'NH464883': 86,
 'NU705380': 65,
 'QA135447': 330,
 'PJ936120': 83,
 'PJ968978': 41,
 'SN640167': 58,
 'NH469760': 546,
 'NU710668': 340,
 'PJ964406': 44,
 'TR338848': 32,
 'NU704903': 1,
 'TR315910': 294,
 'TR354476': 270,
 'QA116105': 5,
 'QA119003': 0,
 'TR319007': 108,
 'VF261264': 62,
 'TR318704': 200,
 'KW523475': 112,
 'PJ965867': 20,
 'ZG859831': 0,
 'VF258899': 34,
 'VF234743': 982,
 'NH443320': 88,
 'PJ926202': 121,
 'NU710889': 12,
 'KW522445': 132,
 'KW526895': 149,
 'NH437437': 111,
 'ZG862045': 327,
 'PJ958211': 158,
 'TR328563': 429,
 'VF223195': 37,
 'PJ937380': 150,
 'TR325908': 13,
 'KW530506': 125,
 'VF225112': 96,
 'ZG886788': 196,
 'KW530847': 540,
 'PJ937113': 25,
 'NU717022': 278,
 'SN632913': 218,
 'NH423765': 24,
 'TR349656': 136,
 'TR314065': 224,
 'VF257372': 12,
 'QA156918': 396,
 'NH469343': 145,
 'PJ936498': 49,
 'QA114728': 153,
 'PJ950898': 15,
 'VF258764': 39,
 'ZG879748': 200,
 'VF240083': 82,
 'VF230961': 40,
 'NH429980': 105,
 'QA110923': 904,
 'PJ936491': 92,
 'ZG858057': 98,
 'NU704715': 80,
 'KW533494': 50,
 'TR318913': 808,
 'NH451577': 150,
 'QA152504': 156,
 'NU723197': 22,
 'SN666983': 82,
 'ZG884087': 127,
 'TR329566': 260,
 'TR322418': 11,
 'ZG861264': 406,
 'NU709364': 501,
 'NH460996': 85,
 'NH469874': 282,
 'KW504225': 207,
 'SN646132': 0,
 'PJ950409': 167,
 'KW511233': 83,
 'NU719858': 79,
 'SN658815': 108,
 'VF242273': 143,
 'SN650159': 5,
 'SN675160': 19,
 'NU714995': 94,
 'VF220593': 91,
 'QA123286': 181,
 'ZG842955': 5,
 'ZG880437': 58,
 'KW511364': 51,
 'PJ939012': 171,
 'ZG867181': 1070,
 'SN649127': 98,
 'PJ933921': 69,
 'QA152241': 8,
 'NH446869': 23,
 'ZG849811': 48,
 'VF249725': 40,
 'QA144278': 27,
 'QA124018': 5,
 'TR345155': 16,
 'QA126196': 40,
 'VF256090': 45,
 'PJ956378': 83,
 'SN679677': 4,
 'SN644534': 193,
 'KW545630': 16,
 'TR328466': 303,
 'ZG870124': 160,
 'QA158329': 7,
 'SN634952': 5,
 'VF245668': 15,
 'ZG886574': 50,
 'VF228668': 91,
 'QA149595': 150,
 'QA139304': 137,
 'SN654459': 34,
 'PJ928955': 78,
 'KW524292': 47,
 'PJ937357': 36,
 'SN662758': 19,
 'NH425551': 358,
 'PJ969257': 150,
 'PJ964804': 44,
 'TR341592': 4,
 'QA128685': 73,
 'ZG856056': 74,
 'KW538126': 22,
 'PJ922716': 992,
 'TR327004': 25,
 'KW502362': 26,
 'VF265590': 3,
 'QA143884': 28,
 'SN666148': 11,
 'PJ925727': 2,
 'TR336239': 284,
 'KW517155': 146,
 'QA134402': 81,
 'TR331518': 179,
 'TR331635': 629,
 'SN664835': 413,
 'NH451998': 20,
 'NU718397': 1073,
 'TR315369': 69,
 'KW537950': 226,
 'QA145445': 220,
 'NH461164': 23,
 'QA153104': 4,
 'SN673755': 49,
 'KW525318': 124,
 'ZG840527': 194,
 'VF258713': 347,
 'QA121171': 4,
 'SN679385': 306,
 'TR347707': 23,
 'VF261272': 65,
 'TR317431': 283,
 'KW527228': 170,
 'VF222163': 17,
 'TR357069': 100,
 'PJ969282': 103,
 'PJ951806': 2,
 'SN653759': 362,
 'QA151206': 1670,
 'KW549928': 36,
 'NU707321': 161,
 'NH462651': 4,
 'TR331026': 1,
 'SN676561': 276,
 'KW512244': 24,
 'QA159586': 17,
 'SN675024': 1,
 'ZG861913': 24,
 'SN656303': 1,
 'VF269807': 0,
 'TR313053': 1,
 'ZG869903': 69,
 'ZG858539': 59,
 'ZG884148': 3,
 'PJ937384': 3,
 'NH447788': 20,
 'KW542408': 0,
 'ZG871885': 18,
 'QA146831': 6,
 'KW524046': 73,
 'KW534445': 30,
 'PJ953101': 0,
 'NH440333': 3,
 'NH432132': 7,
 'NU715896': 1,
 'SN638503': 13,
 'QA119693': 3,
 'PJ947843': 2,
 'SN633425': 1,
 'VF254662': 0,
 'PJ932833': 65,
 'VF228399': 16,
 'QA145065': 90,
 'PJ932787': 107,
 'NH463508': 4,
 'ZG869683': 107,
 'QA133430': 46,
 'QA120260': 133,
 'QA117698': 39,
 'TR323143': 143,
 'ZG878721': 402,
 'SN676760': 2,
 'ZG854902': 19,
 'VF268636': 66,
 'QA110863': 32,
 'NU709311': 6,
 'VF245899': 17,
 'QA125241': 52,
 'TR342511': 6,
 'TR323957': 78,
 'NH440326': 38,
 'VF230616': 66,
 'QA153333': 56,
 'KW524092': 104,
 'TR345938': 40,
 'SN646298': 28,
 'TR322785': 44,
 'KW537558': 32,
 'VF230114': 119,
 'KW500825': 27,
 'NH421335': 11,
 'SN670636': 103,
 'VF238617': 26,
 'SN632949': 693,
 'KW540647': 439,
 'PJ939677': 177,
 'NH427712': 38,
 'KW531266': 97,
 'TR356546': 421,
 'KW531700': 20,
 'KW538015': 6,
 'PJ953983': 55,
 'TR321280': 260,
 'QA127559': 515,
 'VF255576': 24,
 'QA133878': 27,
 'VF259417': 36,
 'QA110043': 897,
 'KW544521': 96,
 'TR336357': 225,
 'TR325515': 4,
 'KW507242': 685,
 'KW543729': 14,
 'SN658673': 415,
 'VF246268': 142,
 'ZG861583': 173,
 'VF262384': 0,
 'VF241592': 356,
 'QA118418': 1,
 'VF258212': 41,
 'SN634070': 179,
 'VF261982': 181,
 'ZG888267': 430,
 'VF265980': 83,
 'PJ928370': 13,
 'QA125888': 726,
 'SN670745': 31,
 'VF254408': 24,
 'ZG852940': 38,
 'QA146532': 1572,
 'PJ940280': 6,
 'NH466616': 248,
 'SN663244': 12,
 'NH449378': 28,
 'NH464420': 195,
 'QA159787': 139,
 'VF237256': 45,
 'NH468321': 97,
 'TR355177': 19,
 'VF222490': 97,
 'VF245955': 152,
 'KW510235': 59,
 'VF258109': 89,
 'QA118589': 82,
 'ZG851728': 11,
 'NH448859': 20,
 'ZG883163': 0,
 'PJ945609': 332,
 'ZG863265': 19,
 'VF226360': 0,
 'QA123229': 6,
 'TR357186': 28,
 'QA120708': 358,
 'NH421547': 167,
 'TR313190': 4,
 'VF245205': 62,
 'KW524951': 18,
 'ZG851802': 85,
 'SN631546': 31,
 'KW535887': 18,
 'KW522647': 2,
 'TR341515': 21,
 'QA155822': 46,
 'SN646645': 25,
 'PJ941934': 6,
 'SN658473': 190,
 'ZG872586': 22,
 'NU721700': 5,
 'SN651395': 5,
 'SN676061': 128,
 ...}

In [54]:
total_sales_per_SKU['ZG885592']

23

In [55]:
total_clicks_per_SKU['ZG885592']

6249

In [59]:
def click_to_sales_conversion(row):
    return round(total_sales_per_SKU[row['SKU']]/total_clicks_per_SKU[row['SKU']],4) 


def test(sku):
    return sku['SKU']
    
#df_over_100_clicks['click-to-sales-conversion'] = df_over_100_clicks.apply(lambda row : click_to_sales_conversion(row['SKU'],
click_sales_conversion = df_over_100_clicks.apply(lambda row : click_to_sales_conversion(row), axis = 1)

In [66]:
df['click-to-sales-conversion'] = click_sales_conversion.reindex(list(range(275265)),fill_value=0)

In [67]:
df.head()

,Date,SKU,click,add_cart,add_favorites,sales,click-to-sales-conversion
0,20190728,VF256715,7,0,0,0,0.0
1,20190728,VF224834,28,0,0,0,0.0
2,20190728,PJ955955,22,1,0,0,0.0
3,20190728,SN639704,17,0,0,0,0.0
4,20190728,VF237717,2,0,0,0,0.0

In [69]:
# Among those: What is the highest click-sales-ratio on a single day for a single item?

r9 = df.groupby(['Date', 'SKU'], sort=True)['click-to-sales-conversion'].max().max()
# Store this number as r9
r9

0.0926

In [71]:
# How many unique SKUs are included in the dataset? Store this number as r10
r10 = len(df['SKU'].unique())
r10

7382