# Exercise 1

In [4]:
s1 = "564"
# Store the type of s1 in variable r1
r1 = type(s1)
r1

str

In [7]:
x2 = 36
# Convert s1 to a number and calculate the sum of s1 and x2. Store the result as r2
r2 = int(s1) + x2 
r2

600

In [8]:
s3 = "In the loveliest town of all, where the houses were white and high and the elms trees were green and higher than the houses, where the front yards were wide and pleasant and the back yards were bushy and worth finding out about, where the streets sloped down to the stream and the stream flowed quietly under the bridge, where the lawns ended in orchards and the orchards ended in fields and the fields ended in pastures and the pastures climbed the hill and disappeared over the top toward the wonderful wide sky, in this loveliest of all towns Stuart stopped to get a drink of sarsaparilla."
# How long is s3 in characters (incl. white spaces)? Store this number as r3
r3 = len(s3)
r3

592

In [11]:
# How often does the word "were" appear in s3? Store this as r4
r4 = s3.count('were')
r4

4

In [15]:
# How many words are in s3 (also "a" counts as a word)? Store it as r5
r5 = len(s3.split()) 
r5

107

# Exercise 2

In [60]:
animals = ["Bear","Cat","Ape","Bear","Cat","Bear","Ape","Cat","Bear","Bear","Tiger","Tiger","Ant","Bird","Bird","Tiger","Bear","Ape","Dog","Ant","Ape","Bear","Tiger","Dog","Ant","Tiger","Cat","Ant","Bird","Bear","Dog","Bird","Cat","Tiger","Bear","Bear","Cat","Tiger","Cat","Dog","Ant","Bear","Cat","Ant","Bird","Dog"]
# Which animal is at the 23rd position of the animal list? Store it as r6
r6 = animals[22]
r6

'Tiger'

In [61]:
# How often does "Cat" appear in animals? Store this as r7
r7 = animals.count('Cat')
r7

8

In [67]:
# Create a list of the unique animal names that appear in animals. Sort this list alphabetically. Store it as r8
# option using numpy
import numpy as np

animals_np = np.array(animals)
animals_np = np.unique(animals_np)
r8 = list(np.sort(animals_np))
r8

['Ant', 'Ape', 'Bear', 'Bird', 'Cat', 'Dog', 'Tiger']

In [70]:
# Remove all animals that start with "B" from the animals list. Store this new list as r9.
# The animals list should stay as it was!
r9 = [x for x in animals if not x.startswith('B')]

In [73]:
r9

['Cat',
 'Ape',
 'Cat',
 'Ape',
 'Cat',
 'Tiger',
 'Tiger',
 'Ant',
 'Tiger',
 'Ape',
 'Dog',
 'Ant',
 'Ape',
 'Tiger',
 'Dog',
 'Ant',
 'Tiger',
 'Cat',
 'Ant',
 'Dog',
 'Cat',
 'Tiger',
 'Cat',
 'Tiger',
 'Cat',
 'Dog',
 'Ant',
 'Cat',
 'Ant',
 'Dog']

# Exercise 3

In [84]:
# For some shipments in a supply chain the item, the item category, 
# the shipped amount and the returned amount (in cases) is given
item = ["sparkling water","blueberry muffin","lids","blueberry muffin","decaffeinated coffee","milk chocolate","milk chocolate","lemonade","chicken sandwich","plain bagel","milk","strawberry yogurt","nuts and raisins","nuts and raisins","cups","almond croissant","iced tea","cups","milk chocolate","spring salad","grilled cheese sandwich","decaffeinated coffee","cups","sparkling water","granola bar","egg salad sandwich","orange juice","milk","milk chocolate","blueberry muffin","cranberry and almond bar","lids","lemonade","marble pound cake","milk","iced tea","salmon bistro box","marble pound cake","milk chocolate","strawberry yogurt","whipped cream","almond croissant","sparkling water","oatmeal","scone","cranberry and almond bar","chicken sandwich","lemonade","scone","cranberry and almond bar","spring salad","lemonade","cinnamon bagel","apple juice","cups","oatmeal","nuts and raisins","lids","sparkling water","milk","egg salad sandwich","iced tea","salmon bistro box","sparkling water","marble pound cake","plain bagel","milk","cups","grilled cheese sandwich","nuts and raisins","nuts and raisins","chocolate croissant","spring salad","granola bar","lids","cranberry and almond bar","egg salad sandwich","egg salad sandwich","cranberry and almond bar","decaffeinated coffee","almond croissant","lemonade","lids","sparkling water","apple juice","salmon bistro box","whipped cream","lemonade","strawberry yogurt","orange juice","almond croissant","cinnamon bagel","marble pound cake","orange juice","chocolate croissant","cups","oatmeal","sparkling water","normal coffee","blueberry muffin","blueberry muffin","nuts and raisins","nuts and raisins","scone","milk","decaffeinated coffee","iced tea","granola bar","lids","milk","oatmeal","normal coffee","salmon bistro box","lemonade","cinnamon bagel","normal coffee","almond croissant"]
category = ["beverage","bakery","container","bakery","coffee","packaged food","packaged food","beverage","prepared food","bakery","dairy","prepared food","packaged food","packaged food","container","bakery","beverage","container","packaged food","prepared food","prepared food","coffee","container","beverage","packaged food","prepared food","beverage","dairy","packaged food","bakery","packaged food","container","beverage","bakery","dairy","beverage","prepared food","bakery","packaged food","prepared food","dairy","bakery","beverage","packaged food","bakery","packaged food","prepared food","beverage","bakery","packaged food","prepared food","beverage","bakery","beverage","container","packaged food","packaged food","container","beverage","dairy","prepared food","beverage","prepared food","beverage","bakery","bakery","dairy","container","prepared food","packaged food","packaged food","bakery","prepared food","packaged food","container","packaged food","prepared food","prepared food","packaged food","coffee","bakery","beverage","container","beverage","beverage","prepared food","dairy","beverage","prepared food","beverage","bakery","bakery","bakery","beverage","bakery","container","packaged food","beverage","coffee","bakery","bakery","packaged food","packaged food","bakery","dairy","coffee","beverage","packaged food","container","dairy","packaged food","coffee","prepared food","beverage","bakery","coffee","bakery"]
shipped = [49,25,41,28,49,28,25,37,49,41,23,21,37,44,38,48,21,50,26,26,33,39,25,42,37,43,35,38,43,24,47,22,27,44,21,43,34,42,39,29,25,20,36,39,45,50,34,25,43,35,28,21,34,21,35,25,31,23,45,39,31,40,46,28,35,46,36,46,43,21,47,30,40,36,24,28,32,30,27,36,41,43,42,32,40,26,41,40,33,40,41,45,43,36,46,30,40,42,39,40,48,44,36,49,27,31,26,23,22,44,50,38,35,36,20,36,31]
returned = [1,0,7,7,0,1,9,1,4,8,10,9,0,9,2,7,3,6,7,1,6,4,1,0,1,6,2,7,5,1,2,4,4,5,7,4,7,4,1,5,2,6,0,7,8,4,1,7,5,0,9,1,0,6,8,6,7,10,9,5,9,0,1,0,10,7,4,2,8,8,9,4,7,7,5,5,1,6,1,6,3,2,8,9,0,9,3,10,9,1,4,8,2,2,10,1,0,3,1,10,8,8,4,8,6,8,2,2,7,7,4,4,9,7,4,6,9]
# How many cases were shipped in total? Store this number as r10

r10 = sum([shipped[i]-returned[i] for i in range(len(shipped))])
r10

3578

In [11]:
# What is the total return ratio, i.e. the total number of returns divided by the total number of shipments?
# Store this ratio (number between 0-1) as r11
r11 = sum(shipped)/sum(returned)

In [86]:
# What is the return ratio for the category "bakery"? Store this number as r12
total_sum_shipped = 0
total_sum_returned = 0
for i in range(len(category)):
    if category[i]=='bakery':
        total_sum_shipped += shipped[i]
        total_sum_returned += returned[i]
r12 = total_sum_shipped/total_sum_returned
r12

6.586956521739131

In [13]:
# Which item has the lowest return ratio? Store this item name as r13
r13

In [88]:
def calculate_total_return_ratio_for(item, shipped, returned, item_elems):
    total_sum_shipped = 0
    total_sum_returned = 0
    for i in range(len(category)):
        if item_elems[i] == item:
            total_sum_shipped += shipped[i]
            total_sum_returned += returned[i]
    return total_sum_shipped/total_sum_returned

In [89]:
item_elems = np.unique(np.array(item))
# calculate total return ratio for each element in item
total_ratio_return = [ calculate_total_return_ratio_for(elem, shipped, returned, item) for elem in item_elems] 
r13 = min(total_ratio_return)

In [92]:
r13

3.608695652173913